@import "../../App.css";

.logo {
  width: 100px;
  border-radius: 10px;
  background-color: white;
}

.containerAboutUS {
  display: flex;
  flex-direction: column;
  background-color: #88593f;
  align-items: center;
  justify-content: center;
  margin: 10px;
  border-radius: 10px;
}

.company__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: blanchedalmond;
  border-radius: 10px;
  margin: 10px;
}

.company__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: blanchedalmond;
  border-radius: 10px;
  margin: 10px;
}

.map {
  width: 10rem;
  height: 10rem;
  border-radius: 10px;
}

.button {
  border-radius: 10px;
  box-sizing: border-box;
  border-color: black;
}
