@import "../../App.css";

.aboutus-container {
  background-color: #444; /* Marron clair */
  border-radius: 10px;
  padding: 20px;
  width: 90%;
  margin: 0 auto;
  max-width: 800px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: rgb(0, 0, 0);
  text-align: center;
  margin: auto;
  padding: 10px;
  margin-top: 20px;
  height: 100vh;
}

.aboutus-card {
  background-color: whitesmoke;
  height: 98%;
}

.aboutus-body {
  margin-left: 2%;
  margin-right: 2%;
  height: 75vh;
  display: flex;
  flex-direction: column;
}
