:root {
  --primary-color: #ffe3c2; /* Couleur principale */
  --secondary-color: #526224; /* Couleur secondaire */
  --container-color: #88593f; /* Couleur de conteneur */
  --background-color: #efd7c2; /* Couleur du fond */
  --accent-color: #ac6526; /* Couleur d'accent */
}

@font-face {
  font-family: "Rubik";
  src: url("Rubik-Regular.ttf") format("truetype");

  font-family: "RedHatText";
  src: url("RedHatText-Medium.ttf") format("truetype");

  font-family: "Dongle";
  src: url("Dongle-Light.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  background-color: #88593f;
  border-radius: 10px;
  margin: 10;
  padding: 0;
  gap: 10;
  box-sizing: border-box;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  background-color: #ffe3c2;
  border-radius: 10px;
  margin: 10;
  padding: 0;
  gap: 10;
  box-sizing: border-box;
}

.button {
  border-radius: 10px;
  box-sizing: border-box;
}
