:root {
  --primary-color: #ffe3c2; /* Couleur principale */
  --secondary-color: #526224; /* Couleur secondaire */
  --container-color: a47659; /* Couleur de conteneur */
  --background-color: #a47659; /* Couleur du fond */
  --accent-color: #ac6526; /* Couleur d'accent */
  background-color: var(--background-color);
}

@font-face {
  font-family: "Rubik";
  src: url("Rubik-Regular.ttf") format("truetype");

  font-family: "RedHatText";
  src: url("RedHatText-Medium.ttf") format("truetype");

  font-family: "Dongle";
  src: url("Dongle-Light.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: #444;
}
