@import "../../../App.css";

div {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="number"],
input[type="time"],
input[type="date"] {
  margin-left: 10px;
}

h3 {
  margin-top: 20px;
}
