@import "../../../App.css";

.surface-input {
  margin-bottom: 20px;
}

.surface-field {
  margin-left: 10px;
  padding: 5px;
  width: 100px;
}

.Coordonneesmodule {
  background-color: #fff;
  color: #4e3728;
  padding: 3%;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.cardmodule {
  border-radius: 10px;
  padding: 20px;
  width: 90%;
  margin: 0 auto;
  max-width: 800px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: rgb(0, 0, 0);
  text-align: center;
}

#progressBar {
  display: flex;
  align-items: left;
}

/* Bouton */
.button {
  align-self: center;
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #658243;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #43826d;
}

/* Nouveau style pour le bouton actif */
.button.active {
  background-color: #4e3728;
}

.button.active:hover {
  background-color: #658243;
}

/* Bouton */
.hours-button {
  align-self: center;
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #658243;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}
