@import "../../App.css";

.devis-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: #88593f;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}

.step-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.navigation-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.button {
  border-radius: 10px;
  box-sizing: border-box;
  border-color: black;
}
