@import "../../../App.css";

.basketbutton,
.callbutton {
  background-size: cover;
  background-position: center;
  background-color: white;
  border-radius: 10px;
  font-size: 2rem;
  font-weight: bold;
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.basketbutton {
  background-image: url("../../../../public/pictures/basket_button.png");
}

.callbutton {
  background-image: url("../../../../public/pictures/call_button.png");
  display: none;
}

@media (max-width: 768px) {
  .basketbutton,
  .callbutton {
    width: 50px;
    height: 50px;
    font-size: 2rem;
    border-radius: 10px;
    background-color: white;
  }
}

.header-content-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px;
  gap: 20px;
  padding: 10px;
}

.ctabasket {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
