@import "../../../App.css";

.basketbutton,
.callbutton {
  background-size: cover;
  background-position: center;
  background-color: white;
  border-radius: 10px;
  font-size: 2rem;
  font-weight: bold;
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.basketbutton {
  background-image: url("../../../../public/pictures/basket_button.png");
  display: block;
}

.callbutton {
  background-image: url("../../../../public/pictures/call_button.png");
  display: none;
}

.header-content-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px;
  gap: 20px;
  padding: 10px;
}

.ctabasket {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.basketKPI {
  display: block;
  position: relative;
  border-radius: 50%;
  background-color: red;
  color: whitesmoke;
  padding: 0.2;
  font-size: 1rem;
  width: 25px;
  height: 25px;
  top: -50px;
  right: -80px;
}
