@import "../../../App.css";

.logo {
  width: 200px;
  border-radius: 10px;
}

.cta-container {
  display: flex;
  gap: 10px;
}

.button-img {
  width: 100px;
  border-radius: 10px;
  background-color: white;
}

.button-basket {
  width: 100px;
  border-radius: 10px;
  background-color: white;
  padding: 0;
  border: none;
  cursor: pointer;
}

.button-basket img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
