@import "../../App.css";

.legals-container {
  background-color: #444; /* Marron clair */
  border-radius: 10px;
  padding: 20px;
  width: 90%;
  margin: 0 auto;
  max-width: 800px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: rgb(0, 0, 0);
  text-align: center;
  margin: auto;
  padding: 10px;
}

.legals-card {
  background-color: whitesmoke;
}
