@import "src/App.css";

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

button {
  background-color: var(--primary-color);
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

button:hover {
  background-color: var(--secondary-color);
  color: white;
}
