@import "../../../App.css";

table {
  width: 100%;
  border-collapse: collapse;
}

.tableauTitle {
  color: #f9f9f9;
  font-weight: bold;
  margin-bottom: 20px;
}

th,
td {
  padding: 8px 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

thead {
  background-color: #f2f2f2;
}

tr {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #f5f5f575;
  cursor: pointer;
}

@media (max-width: 768px) {
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  thead tr {
    display: none;
  }

  tr {
    margin-bottom: 15px;
  }

  td {
    text-align: right;
    padding-left: 50%;
    position: relative;
  }

  td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-weight: bold;
    text-align: left;
  }
}

.containerModification {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 20px;
  width: 90%;
}

/* Bouton */
.button {
  align-self: center;
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #658243;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #43826d;
}

/* Nouveau style pour le bouton actif */
.button.active {
  background-color: #4e3728;
}

.button.active:hover {
  background-color: #658243;
}
