@import "../../App.css";

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--secondary-color);
  padding: 15px;
}

.logo {
  width: 100px;
  border-radius: 10px;
}

.nav-menu {
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-size: 20px;
  transition: color 0.3s;
}

.header-title {
  display: flex;
  flex-direction: column;
}

.mainTitle {
  color: white;
  font-size: 399%;
  margin: 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.menu-item:hover {
  color: var(--primary-color);
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 15px;
  }
}
