@import "../../App.css";

.header-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #526224;
  margin: 0;
  padding: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
@media (max-width: 768px) {
  .header-container {
    flex-direction: column;
    height: 10%;
  }
}

.header-content-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #526224;
  margin: 10px;
}

.header-content-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #526224;
}
@media (max-width: 768px) {
  .header-content-center {
    height: 30px;
  }
}

.header-content-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #526224;
  margin: 10px;
  gap: 10px;
}

.logo,
.callButton,
.basketButton {
  width: 100px;
  border-radius: 10px;
  /* background-color: white; */
}
@media (max-width: 768px) {
  .logo,
  .callButton,
  .basketButton {
    width: 50px;
    border-radius: 10px;
    /* background-color: white; */
  }
}

.mainTitle {
  color: white;
  size: 20px;
  text-decoration: none;
  background-color: #526224;
}

.li {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  gap: 0px;
  color: white;
  background-color: #526224;
}

.menu {
  color: white;
  text-decoration: none;
  background-color: #526224;
}
@media (max-width: 768px) {
  .menu {
    display: none;
  }
}
