@import "../../App.css";

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: var(--secondary-color);
  padding: 10px;
}

.logo,
.callButton,
.basketButton {
  width: 100px;
  border-radius: 10px;
  background-color: white;
}

.mainTitle {
  color: white;
  font-size: 20px;
}

li {
  display: flex;
  gap: 20px;
  list-style: none;
}

.menu {
  color: white;
  text-decoration: none;
}

@media (max-width: 768px) {
  .logo {
    width: 50px;
  }
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }
}
