@import "src/App.css";

.basket-module {
  display: flex;
  flex-direction: center;
  align-items: center;
  justify-content: center;
  border: 1px solid red;
  background-color: var(--background-color);
  border-radius: 10px;
  margin: 10;
  padding: 0;
  gap: 10;
}
